<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/homepage">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="/dashboard">Dashboard</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" id="logout">Logout</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<h3>Welcome {{user.username}}</h3>

<div class="posts">
  {{#each userPosts as |post| }}
  <div class="card">
    <div class="card-header flex-row justify-space=between">
      <h2>{{post.title}}</h2>
      <h4>{{post.createdAt}}</h4>
    </div>
    <div class="card-body">
      {{post.body}}
    </div> 
    <div class="postbtn">
      <button type="button" class="btn btn-dark" id="deletePostBtn">Delete</button>
      <button type="button" class="btn btn-dark" id="createPostBtn">Edit</button>
    </div>        
</div>
 {{/each}}
</div>
<div class="text-center" id="newpostbtn">
  <a href='/newpost'>
    <button type="button" class="btn btn-dark" id="createPostBtn">Create New Post</button>
  </a>
</div>