<div class="card">
  <h1 class="card-header">Create New Post</h1>
  <form class="card-body new-post-form" id="new-post-form">
    <label for="postTitle" class="form-label">Title</label>
    <input type="text" class="form-control" id="postTitle" aria-describedby="emailHelp">
    <label for="postBody" class="form-label">Body</label>
    <input type="text" class="form-control" id="postBody" aria-describedby="emailHelp">
    <button type="submit" class="btn btn-primary" id="addPostBtn">Submit</button>
  </form>
</div>