:root {
  --primary: rgb(197, 196, 197);
}

* {
  box-sizing: border-box;
}

p {
  margin-left: 10px;
}

body {
  background-color: var(--primary);
  font-family: Arial, Helvetica, sans-serif, sans-serif;
  line-height: 1.5;
  font-size: 16px;
}

#header {
  font-size: 40px;
}

h3 {
    margin-left: 20px;
    font-size: 40px;
 }
 h2 {
   float: left;
   vertical-align: middle;
   margin-top: 5px;
 }

 h4 {
   float: right;
   font-size: 14px;
 }

 h2,h4 {
   display: inline;
 }

 #username {
  margin-left: 98%;
  font-size: 14px;
}

#created{
  margin-left: 32%;
  font-size: 14px;
}

.card {
    border: black 1px solid;
    margin: 10px 20px 10px;
}

.card-header {
    background-color:rgb(219, 219, 219);
    max-height: 70px;
}

.card-body {
      padding: 5px;    
}

.postbtn {
    margin: 4px;
}

.btn {
  margin: 4px;
}

#addPostBtn {
  margin: 5px;
}

#bodyField {
  height: 100px;
}

#titleField {
  margin-bottom: 10px;
}

.form-signin {
  padding: 5px;
  margin: 5px;
}

#commentBtn {
  padding: 5px;
  margin-left: 20px;
}

#comments {
  color: black;
  font-size: 16px;
}

a {
  color: black;
  margin: 5px;
}

#commentBody {
  max-width: 94%;
  margin-left: 3%;
}